@model IEnumerable<ComfySocks.Models.ProductInfo.ProductInformation>

@{
    ViewBag.Title = "Product List";
}

<div class="box box-body box-primary">
    <p>
        @Html.ActionLink("Create New", "NewProductEntry")
    </p>
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>Action</th>
            </tr>
        </tfoot>
        @foreach (var item in Model)
        {
            ComfySocks.Models.ApplicationDbContext db = new ComfySocks.Models.ApplicationDbContext();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td><a class="btn-sm btn btn-info" href="~/Product/ProductDetail?id=@item.ID">View &nbsp;<span class="glyphicon glyphicon-eye-open"></span></a></td>

            </tr>
        }

    </table>

</div>

<script>
    $(document).ready(function () {
        $("#dtaTable").DataTable({})
    })
</script>