
<div class="box box-info box-body" style="border-radius:10px">
    <div class="row">
        <div class=" col-sm-12">
            <img src="~/Images/ENINFrontPage.jpg" style="width: 100%; height:100%; border-radius:10px; text-align:center" />
        </div>
    </div>
</div>
