
<div class="box box-info box-body">
    <div class="row">
        <div class=" col-sm-12">
            <img src="~/Images/ENINFrontPage.png" style="width: 75vw; height: 77vh" />
        </div>
    </div>
</div>