@using Microsoft.AspNet.Identity

@*
    This partial controls the left menu of the AdminLTE dashboard and is called automatically by _AdminLteLayout
       This is where you can add, modify, or remove navigation options in your app
       TODO: This preserves the links as-is for the demo, which lead to broken pages!
       It's up to you to make sure these links either get deleted or lead somewhere REAL!
*@
@{
    Layout = null;
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                @*<img src="/Content/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="User Image" />*@
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview-menu">
                <a href="~/Home/Index">
                    <i class="fa fa-home"></i> <span>Home</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
            </li>
            <li class="active">
                <a href="~/Home/Index">
                    <i class="fa fa-home"></i> <span>Home</span>
                </a>
            </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa  fa-list"></i>
                        <span>Inventory</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="#">
                                <i class="fa  fa-circle-o"></i>
                                <span>Item</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/ItemSetting/Index"><i class="fa fa-circle-o"></i>Item List</a></li>
                                <li><a href="~/ItemSetting/Create"><i class="fa fa-circle-o"></i>New Item</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa  fa-circle-o"></i>
                                <span>Store</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/Stocks/StockList"><i class="fa fa-circle-o"></i>Good Reciving Note</a></li>
                                <li><a href="~/ProductReciving/ProductRecivingList"><i class="fa fa-circle-o"></i>Finishe Good Reciving</a></li>
                                <li><a href="~/PurchaseRequest/PurchaseRequsetList"><i class="fa fa-circle-o"></i>Purchase Request</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa  fa-product-hunt"></i>
                        <span>Production</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/ProductTransfer/ProductTransferList"><i class="fa fa-circle-o"></i>Finshed Product Transfer</a></li>
                        <li>
                            <a href="#">
                                <i class="fa  fa-circle-o"></i>
                                <span>Store Requestion</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/Request/StoreRequestionList"><i class="fa fa-circle-o"></i>Row Material</a></li>
                                <li><a href="~/OfficeMaterialRequest/OfficeMaterialRequestionList"><i class="fa fa-circle-o"></i>Office Material</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa  fa-bookmark-o"></i>
                    <span>Order</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Order/NewOrderEntry"><i class="fa fa-circle-o"></i> New Order</a></li>
                    <li><a href="~/Order/OrderHistory"><i class="fa fa-circle-o"></i> Order History</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-money"></i> <span>Sales</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Sales/NewSalesEntry"><i class="fa fa-circle-o"></i> New Sales</a></li>
                    <li><a href="~/Sales/SalesList"><i class="fa fa-circle-o"></i> Sales List</a></li>
                    @*<li><a href="~/SalesDelivery/SalesDeliveryList"><i class="fa fa-circle-o"></i> Delivery</a></li>*@
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Reports</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Report/StockReport"><i class="fa fa-circle-o"></i> Purchase Report </a></li>
                    <li><a href="~/Report/SalesReport"><i class="fa fa-circle-o"></i>Sales Report </a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>User Management</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Account/UserList"><i class="fa fa-circle-o"></i> Users</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<style>
    body {
        margin:0px;
        border:0px;
    }
    
</style>