@*
    This partial controls the top menu of the AdminLTE Template, being called automatically by _AdminLteLayout
       TODO: All of the content in here is stand-in that must be replaced by the real behavior of your app
*@
@{
    ViewBag.Layout = null;
}
<link />
<header class="main-header">
    <!-- Logo -->
    <a href="~/Home/Index" class="logo" style="background:#00CCD2"><b>ENIN</b>Inventory</a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-collapse collapse">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-gears">&nbsp;Setting</i>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/ItemTypes/Index"><i class="fa fa-list"></i>ItemType</a></li>
                            <li><a href="~/Units/UnitList"><i class="fa fa-balance-scale"></i>Unit</a></li>
                            <li><a href="~/Stores/Index"><i class="fa fa-shopping-cart"></i> Store</a></li>
                            <li><a href="~/Suppliers/Index"><i class="fa fa-user"></i>Supplier</a></li>
                            <li><a href="~/Customers/Index"><i class="fa fa-user-secret"></i> Customers</a></li>
                            <li><a href="~/StockAvailable/StockAvailable"><i class="fa fa-sticky-note-o"></i>Stock Avaliable</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

            <!-- /.navbar-custom-menu -->
        </div>
            @*<span class="noti glyphicon glyphicon-bell"><span class="count">&nbsp;</span></span>
            <div class="noti-content">
                <div class="noti-top-arrow"></div>
                <ul id="notiContent"></ul>
            </div>*@
        <!-- /.container-fluid -->
    </nav>

</header>

<style>
    body {
        margin: 0px;
        border: 0px;
    }

    .main-header {
        width: 100%;
        position: fixed;
        color: #00CCD2;
    }
</style>
@* Add Jquery Library *@
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="/signalr/hubs"></script>
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
@* Add css  *@
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style type="text/css">
    /*Added css for design notification area, you can design by your self*/
    /* COPY css content from youtube video description*/
    .noti-content {
        position: fixed;
        right:350px;
        background: #ffffff;
        border-radius: 4px;
        top: 47px;
        width: 250px;
        display: none;
        border: 1px solid #9E988B;
    }

    ul#notiContent {
        max-height: 200px;
        overflow: auto;
        padding: 0px;
        margin: 0px;
        padding-left: 20px;
    }

        ul#notiContent li {
            margin: 3px;
            padding: 6px;
            background: #fff;
        }

    .noti-top-arrow {
        border-color: transparent;
        border-bottom-color: #F5DEB3;
        border-style: dashed dashed solid;
        border-width: 0 8.5px 8.5px;
        position: absolute;
        right: 32px;
        top: -8px;
    }

    span.noti {
        color: #ffffff;
        margin: 15px;
        position: fixed;
        right: 100px;
        font-size: 18px;
        cursor: pointer;
    }

    span.count {
        margin-right: 240px;
        position: relative;
        top: -3px;
    }
</style>

@* Add jquery code for Get Notification & setup signalr *@
<script type="text/javascript">
    $(function () {
        // Click on notification icon for show notification
        $('span.noti').click(function (e) {
            e.stopPropagation();
            $('.noti-content').show();
            var count = 0;
            count = parseInt($('span.count').html()) || 0;
            //only load notification if not already loaded
            if (count > 0) {
                updateNotification();
            }
            $('span.count', this).html('&nbsp;');
        })
        // hide notifications
        $('html').click(function () {
            $('.noti-content').hide();
        })
        // update notification
        function updateNotification() {
            $('#notiContent').empty();
            $('#notiContent').append($('<li>Loading...</li>'));
            $.ajax({
                type: 'GET',
                url: '/home/GetRequestNotification',
                success: function (response) {
                    $('#notiContent').empty();
                    if (response.length == 0) {
                        $('#notiContent').append($('<li>No data available</li>'));
                    }
                    $.each(response, function (index, value) {
                        $('#notiContent').append($('<li>New Order : ' + value.ID + ' (' + value.Code + ') added</li>'));
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }
        // update notification count
        function updateNotificationCount() {
            var count = 0;
            count = parseInt($('span.count').html()) || 0;
            count++;
            $('span.count').html(count);
        }
        // signalr js code for start hub and send receive notification
        var notificationHub = $.connection.notificationHub;
        $.connection.hub.start().done(function () {
            console.log('Notification hub started');
        });
        //signalr method for push server message to client
        notificationHub.client.notify = function (message) {
            if (message && message.toLowerCase() == "added") {
                updateNotificationCount();
            }
        }
    })
</script>
