.absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h2 {
    font-family: 'Righteous';
    font-size: 4vw;
    width: 60vw;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 0% 2% 0% 2%;
    text-shadow: black 30px 30px 20px;
}

section img {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}



